@model IEnumerable<EventPlanner.Models.Event>

@{
    ViewData["Title"] = "Evenementen";
}

<h1>Evenementen</h1>

<div class="mb-3">
    <a asp-action="Create" class="btn btn-primary">Maak nieuw evenement</a>
    <a asp-action="Create" asp-controller="Organizers" class="btn btn-secondary">Voeg organisator toe</a>
    <a asp-action="Create" asp-controller="Categories" class="btn btn-secondary">Voeg categorie toe</a>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photo)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Photo)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Bewerk</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Verwijder</a>
                </td>


            </tr>
        }
    </tbody>
</table>
